<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        Park-E
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/driver">Driver Bookings</a></li>
        <li><a href="/#/driver-history">Driver History</a></li>
        <li><a href="/#/park-manager">Park Manager</a></li>
        <li><a href="/#/resource-manager">Resource Manager</a></li>
        <li><a href="/#/home-owner">Home Owner</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <input type="text" placeholder="Search..." class="form-control">
      <div
        style=" width:100%; height:500px; display:flex;">
        <px-map
          flex-to-size
          fit-to-markers
          px-map-icon-info-color="#ffffff"

        >
          <px-map-control-zoom position="topright"></px-map-control-zoom>
          <px-map-marker-static [attr.lat]="marker.lat|intToStr" [attr.lng]="marker.lng|intToStr"
                                [attr.type]="(marker.status==='EMPTY') ? 'info': 'important'"
                                *ngFor="let marker of markers">

            <px-map-popup-data *ngIf="marker.status === 'EMPTY'" title="PKL-1619236"
                               data='{"Price" : "5$/Hour", "Status": "BROKEN" }'>
            </px-map-popup-data>
          </px-map-marker-static>
          <px-map-tile-layer
            url='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'>
          </px-map-tile-layer>
        </px-map>
      </div>
    </div>
  </div>
</div>
