<div class="row">
  <div class="col-md-12">
    <div
      style="height:400px; width:600px; display:flex">
      <px-map
        flex-to-size
        fit-to-markers
        disable-scroll-zoom
        disable-touch-zoom>
        <px-map-marker-static
          lat="37.7673626"
          lng="-121.9595048"
          type="info">
        </px-map-marker-static>
        <px-map-tile-layer
          url='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'>
        </px-map-tile-layer>
      </px-map>
    </div>
  </div>
</div>
