<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        Park-E
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/driver-history">History</a></li>
        <li><a>Bookings</a></li>
        <li><a>Settings</a></li>
        <li><a>Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 70px; padding: 50px;">
  <div class="row">
    <div class="col-md-4" style="text-align: center; border-right: 1px solid;">
      <px-key-value-pair value="Efficiency" size="delta"></px-key-value-pair>
      <div style="width: 300px; height: 160px;   margin: 0 auto;">
        <px-gauge
          value="82"
          min="0"
          max="100"
          bar-width="0"
          unit="%"
          error='[[0,12]]'
          abnormal='[[12,32]]'
          anomaly='[[32,45]]'
          normal='[[45,100]]'>
        </px-gauge>

      </div>
    </div>
    <div class="col-md-4" style="text-align: center; border-right: 1px solid;">
      <px-key-value-pair value="Decarbonization" size="delta"></px-key-value-pair>
      <div style="width: 300px; height: 160px;   margin: 0 auto;">
        <px-gauge
          value="43"
          min="0"
          max="100"
          bar-width="0"
          unit="%"
          error='[[0,12]]'
          abnormal='[[12,32]]'
          anomaly='[[32,45]]'
          normal='[[45,100]]'>
        </px-gauge>

      </div>
    </div>
    <div class="col-md-4" style=" text-align: center;">
      <px-key-value-pair value="Health" size="delta"></px-key-value-pair>
      <div style="width: 300px; height: 160px;   margin: 0 auto;">
        <px-gauge
          value="95"
          min="0"
          max="100"
          bar-width="0"
          unit="%"
          error='[[0,12]]'
          abnormal='[[12,32]]'
          anomaly='[[32,45]]'
          normal='[[45,100]]'>
        </px-gauge>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div
        style=" width:100%; height:500px; display:flex; margin-top: 150px;">
        <px-map
          flex-to-size
          fit-to-markers
        >
          <px-map-control-zoom position="topright"></px-map-control-zoom>
          <px-map-marker-static [attr.lat]="marker.lat|intToStr" [attr.lng]="marker.lng|intToStr"
                                [attr.type]="(marker.status==='EMPTY') ? 'info': 'important'"
                                *ngFor="let marker of markers">

            <px-map-popup-data *ngIf="marker.status !== 'EMPTY'" title="PKL-1619236"
                               data='{"Price" : "5$/Hour", "Status": "BROKEN" }'>
            </px-map-popup-data>

          </px-map-marker-static>
          <px-map-tile-layer
            url='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'>
          </px-map-tile-layer>
        </px-map>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
      <span style="margin-left: 10px; font-size: 30px; ">Top Parking Lots</span>
      <hr>
    </div>
    <div class="col-md-12">
      <px-table-view rows-size="regular" selected-item='null'>
        <px-table-row title='PKL-6123'></px-table-row>
        <px-table-row title='PKL-6136'></px-table-row>
        <px-table-row title='PKL-6132'></px-table-row>
        <px-table-row title='PKL-1256'></px-table-row>
        <px-table-row title='PKL-6123'></px-table-row>
        <px-table-row title='PKL-1267'></px-table-row>
        <px-table-row title='PKL-8969'></px-table-row>
      </px-table-view>

    </div>
  </div>

</div>
